<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="css/admin_login.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="shortcut icon" href="images/logo.jpeg" type="image/x-icon">
</head>
<body>
    <header>
        <h1>Admin Log In</h1>
        <a href="/"><img src="images/logo1.jpeg" alt="logo"></a>
    </header>
    <form action="/adminLogin" id="myform" method="post" onsubmit="return handleSubmit()">
        <div class="main">
            <div class="label1">
                <label for="userId" style="margin-right: 28px;">User Id</label>
                <input type="text" name="userId" id="userId">
            </div>
            <div class="label3">
                <label for="ifsc">IFSC Code</label>
                <input type="text" name="ifsc" id="ifsc">
            </div>
            <div class="label2">
                <label for="password" style="margin-right: 10px;">Password</label>
                <input type="password" name="password" id="password" autocomplete="off">
            </div>
            <div class="alert">
                <h4 id="wrongCredentials" style="color: rgba(252, 38, 38, 0.784);">Wrong User Credentials</h4>
                <h4 id="ifscCode"></h4>
            </div>
            <div class="label3">
                <input type="submit" value="Submit" class="submit">
            </div>
        </div>
    </form>
    <script>
        const userId= document.getElementById("userId");
        const ifsc = document.getElementById("ifsc");
        const password = document.getElementById("password");
        const wrongCredentials = document.getElementById("wrongCredentials");
        // wrongCredentials.innerHTML = "";
        function handleSubmit()
        {
            wrongCredentials.innerHTML = "";
            if(userId.value.length===0)
            {
                wrongCredentials.innerHTML="User ID cannot be empty";
                return false;
            }
            else if(ifsc.value.length===0)
            {
                wrongCredentials.innerHTML="IFSC code cannot be empty";
                return false;
            }
            else if(ifsc.value.length!=11)
            {
                wrongCredentials.innerHTML = "IFSC code should be of length 11";
                return false;
            }
            else if(password.value.length===0)
            {
                wrongCredentials.innerHTML = "Password cannot be empty";
                return false;
            }
            
        }
        userId.addEventListener("input", function () {
        wrongCredentials.innerHTML = "";
        });

        ifsc.addEventListener("input", function () {
            wrongCredentials.innerHTML = "";
            });

        password.addEventListener("input", function () {
            wrongCredentials.innerHTML = "";
            });
    </script>
</body>
</html>
<body>
    