* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  text-align: center;
}

.bankLogo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--bg-header);
  text-align: center;
  margin: auto;
}
.bank{
  display:flex;
  align-items: center;
}
.btn {
  background: #05387b;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
  font-weight: bold;
  margin-right: 30px;
}

.btn:hover {
  background:#014285;
  cursor: pointer;
}
.header
{
  box-shadow: 2px 3px 5px black;
}
.main
{
  box-shadow: 2px 3px 5px black;
}
.main h2
{
  margin: 12px auto;
}
.bankLogo img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 5px 5px 10px black;
  margin: 10px 20px;
}

.bankLogo h1 {
  font-size: 24px;
  font-weight: 700;
}
.profile-image h3 a
{
  margin-bottom: 10px;
  color: var(--text-color);
}
.profile-image {
  text-align: center;
  margin: 20px auto 0;
  padding: 20px;
  background-color: var(--bg-header);
  border-radius: 5px;
}
.profile-image img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.427);
  filter: grayscale();
  transition: 0.5s;
}
.profile-image img:hover{
  filter: none;
}
.main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  box-shadow: 0px 2px 5px rgba(0, 0, 0);
  flex-wrap: wrap;
  margin: 20px;
  padding: 20px;
  background-color: var(--bg-header);
  border-radius: 5px;
}

.section2 {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  margin-left: 20px;
}

.personal, .main2 {
  flex: 1;
  text-align: center;
  padding: 10px;
  margin: 0;
}
.p1 {
  margin-bottom:  15px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 10px;
  flex-wrap: wrap;
}

.p1 p:first-child {
  width: 160px;
  font-weight: 600;
}

.p1 p {
  padding: 0;
  font-weight: 400;
}
.p2{
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 10px;
}
.p2 form{
  padding: 10px 0;
}
.p2 form input{
  margin-left: 5px;
}
input{
  height: 30px;
  border-radius: 10px;
}
::placeholder{
  text-align: center;
  color: rgb(88, 88, 88);
}
.p3{
  margin:auto;
  width: 200px;
  border: 1.5px solid black;
  border-radius: 5px;
  background-color: rgb(93, 105, 198);
  transition: 0.5s;
}
.p3 a{
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.p3:hover
{
  width: 210px;
}
@media (max-width: 861px) {
  .main {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .section2 {
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
  }
  .p1
  {
    flex-direction: column;
  }
  .main2{
    top: 0;
  }
  .p2{
    width: 150px;
  }
}
