*{
    padding: 0;
    margin: 0;
}
body{
    /* color: rgb(228, 226, 226); */
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #749bfd;
    font-family:sans-serif;
}
header h1{
    margin: 20px auto;
}
header img{
    width: min(40vw,100px );
    height: min(40vw,100px );
    margin: 5px;
    padding: 0 10px;
}
.main{
    background: white;
    color: black;
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    height:fit-content;
    border: none;
    box-shadow: 10px 10px 100px black;
    border-radius: 10px;
}
.label1,.label2,.label3,.label4,.label5,.label6,.label7{
    display: flex;
    flex-direction: column;
    padding: 30px 200px;
    margin: auto 2px;
}
::placeholder{
    text-align: center;
}
.submit{
    border: none;
    padding: 6px 5px;
    cursor: pointer;
    border-radius: 5px;
}
footer h1 a{
    color: rgb(228, 226, 226);
}
@media (width<426px) {
    .main{
        width: 80%;
    }
    .label1,.label2,.label3{
        padding: 20px;
        margin: auto 2px;
    }
    footer h1 {
        font-size: 1rem;
    }
}


@media (min-width: 1025px) {
    .h-custom {
    height: 100vh !important;
    }
    }
    .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    .card-registration .select-arrow {
    top: 13px;
    }
    
    .gradient-custom-2 {
    /* fallback for old browsers */
    background: #a1c4fd;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(161, 196, 253, 1), rgba(194, 233, 251, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(161, 196, 253, 1), rgba(194, 233, 251, 1))
    }
    
    .bg-indigo {
    background-color: #4835d4;
    }
    @media (min-width: 992px) {
    .card-registration-2 .bg-indigo {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    }
    }
    @media (max-width: 991px) {
    .card-registration-2 .bg-indigo {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    }
    }