*{
box-sizing: border-box;
margin: 0;
padding: 0;
}
body
{
background: linear-gradient(to right, #B4DCE7, #91B7D9, #669AC6);
overflow: hidden;
}

.heading {
display: flex;
align-items: center;
padding: 5px;
margin-top: 2px;
color: white;
justify-content: center;
}
.heading img{
    width: 75px;
    height: auto;
    margin-right: 30px ;
    filter: drop-shadow(5px 5px 10px black);
}
form {
display: flex;
justify-content: center;
}

.full {
display: flex;
}

.section1 {
flex: 1;
padding: 20px;
border-radius: 15px 0 0 15px;
background: white;
width: 350px;
height: 590px;
}

.section2 {
flex: 1;
background-color: #4835d4;
color: white;
padding: 20px;
border-radius: 0 15px 15px 0;
height: 590px;
}

label {
display: block;
margin-bottom: 5px;
}
form div{
padding: 8px 0;
}
input[type="text"],
input[type="email"],input[type="password"],
textarea {
padding: 10px;
border: 1px solid #ced4da;
border-radius: 5px;
}

textarea {
resize: vertical;
}

input[type="submit"] {
background-color: white;
color: #4835d4;
border: none;
padding: 10px 20px;
border-radius: 5px;
cursor: pointer;
border: 1px solid white;
}

input[type="submit"]:hover {
background-color: #4835d4;
color: white;
}

.section1 div,
.section2 div {
margin-bottom: 7px;
}
@media (max-width:640px) {
body{
    overflow: scroll;
}
.full{
    flex-direction: column;
}
.section1{
    border-radius: 15px 15px 0 0 ;
}
.section2{
    border-radius: 0 0 15px 15px;
}
}